@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&display=swap');
* {
    padding: 0;
    margin:0;
}
.titulo{
    text-decoration: dashed;
    text-align: center;
}
.titulo-pagina{
    display: flex;
    align-content: center;
}
/* AQUI EMPIEZA LA BARRA DE NAVEGACION*/
.logo-inicio{
    width: 5%;
    align-items: first baseline;
}
.nav {
    position: absolute;
    left: 0px;
    height: 40px;
    background-color: #00ab1c;
    width: 100%;
    margin: 0 auto;
  }
  .nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .nav ul li {
    margin: 0;
    padding: 0;
    float: left;
  }
  .nav ul li a {
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    color: #FFF;
    text-align: center;
  }
body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.barra-navegacion{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 24px;
    font-family: "Big Shoulders Stencil", sans-serif;
    text-decoration: none;
}

.titulo-destaque {
    color: #22D4FD; ;
}

.presentacion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    height: 100vh;
    font-size: 50px;
    font-family: "Big Shoulders Stencil", sans-serif;

}
.nombre-portafolio{
    font-size: 37px;
    font-family: "Big Shoulders Stencil", sans-serif;
    color: #a522fd;
}
.sintaxis{
    font-size: 24px;
    font-family: "Big Shoulders Stencil", sans-serif;
    color: rgba(110, 219, 0, 0.801);
}
.parrafo-destaque{
    font-size: 32px;
    font-family: "Big Shoulders Stencil", sans-serif;
}
.parrafo-contacto{
    text-align: center;
    font-size: 62px;
    font-family: "Big Shoulders Stencil", sans-serif;
    color: #22D4FD;
}
.botones-contacto{
    display:flex;
    justify-content: space-between;
    font-size: 24px;
    font-family: "Big Shoulders Stencil", sans-serif;
}

.boton-Linkedin{
    width: 280px;
    background-color: #0A66C2;
    font-size: 50px;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    padding: 28px 0px;
    border-radius: 70px;
    border: dotted 2px #ffffff;
    cursor: pointer;

}

.boton-Github{
    width: 280px;
    background-color: #ffffff;
    font-size: 50px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    padding: 28px 00px;
    border-radius: 70px;
    border: dotted 2px #8d099e;
    cursor: pointer;
}
.foto-perfil{
    border: dotted 2px #038819;
    border-radius: 50%;
    width: 500px;
}